extends layout

block content
  link(rel='stylesheet', href='/stylesheets/iguanas.css')

  .iguana-page
    .iguana-header
      a(href='/iguanas').iguana-back ← Voltar
      h1.iguana-titulo 🦎 #{title}

    ul.iguana-lista
      each item in curiosidades
        li.iguana-item #{item}
